@import url("https://fonts.googleapis.com/css?family=Courgette|Kaushan+Script|Special+Elite");
.nonFavorite,
.favorite {
  width: 100vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  line-height: 2;
  font-size: 30px;
  text-shadow: 1px 1px ghostwhite;
  font-weight: bold;
  background-image: url("../../assets/landscape6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.nonFavorite div,
.favorite div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center; }

.categories,
.quote,
.author {
  max-width: 80%;
  overflow-y: hidden; }

.nonFavorite button,
.favorite button {
  font-size: 18px; }

div.categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

div.categories p {
  font-size: 20px;
  padding: 5px 5px;
  font-size: 15px;
  overflow-y: hidden; }
