@import url('https://fonts.googleapis.com/css?family=Courgette');
// https://coolors.co/2d3142-4f5d75-bfc0c0-ffffff-ff824c

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #4F5D75;
  height: 10vh;
  font-family: 'Courgette', cursive;
  padding-bottom: 10px;
}

.header-section h1 {
  margin: 0;
}

a.nav {
  align-self: center;
  text-decoration: none;
  font-size: 20px;
  color: #2D3142;
}

a.nav.active {
  align-self: flex-end;
  font-weight: bold;
  color: #FF824C;
}